// src/Components/Card/Card.module.scss
.characterCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
